* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
body{
    margin-bottom: 200px;
}

/* --------------- ***** HEADER CABECALHO LOGO E MENU ***** -------------- */

header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #FFFFFF;
}

/* --------------- ***** SECTION BANNER ***** -------------- */

#banner {
    background-image: url('../img/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: #FFFFFF;
    font-size: 70px;
    text-shadow: 0px 1px 0 #000000;
    max-width: 350px;
}
.banner_headline h2 {
    color: #FFFFFF;
    font-size: 21px;
    text-shadow: 0px 1px 0 #000000;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3 {
    flex: 1;
    color: #FFFFFF;
    padding: 20px;
}

.banner1{
    background-color: #39aae1;
}

.banner2{
    background-color: #0079c7;
}

.banner3{
    background-color: #2b4c99;
}

.banner_title {
    font-size: 21px;
}

.banner_desc {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #FFFFFF;
    font-size: 13px;
    text-decoration: none;
}

.banner_hours {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 11px;
    margin-top: 16px;
    font-size: 13px;
}


/* --------------- ***** SECTION GERAL ***** -------------- */

#geral {
    display: flex;
    justify-content: center;
}
#geral section{
    flex: 2;
}
#geral aside{
    flex: 1;
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    color: #000000;
    font-size: 19px;
    font-weight: bold;
}

.widget_title_bar{
    width: 50px;
    height: 2px;
    background-color: #36a9e1;
    margin-top: 10px;
}

.widget_body_departments{
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.widget_body_box{
    background-color: #39aae1;
    width: 150px;
    height: 150px;
}

.widget_body_text{
    font-size: 13px;
}

.widget_body_contato{
    font-size: 12px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.widget_body_barra{
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 3px;
    
}

.phone,
.email,
.contact {
    padding-bottom: 20px;
    margin-top: 20px;
    color: #888888;
}

.widget_body_contato a {
    text-decoration: none;
}

.widget_body_contato b {
    color: black;
}

.widget_body_contato i {
    margin-right: 5px;
}